<template name="newRecipientForm">
    <form class="form-inline" role="form">
        <label class="col-sm-2 control-label">New recipient</label>

        <div class="form-group col-sm-10">
            <!--<label class="sr-only" for="recipient-name-input">Name</label>-->
            <input class="form-control" id="recipient-name-input" type="text" placeholder="name - John Doe"/>
            <input class="form-control" id="recipient-mail-input" type="email" placeholder="mail - john@doe.com"/>
            <button class="btn btn-primary" type="button">Set</button>
        </div>
    </form>
</template>