<template name="newRecipientForm">
    <div class="recipient">
        <div class="recipient-content" id="newRecipientForm">
            <h3>
                New:
                <input class="field" name="name" type="text" value="" placeholder="name - John Doe"/>
                <input class="field" name="mail" type="text" value="" placeholder="mail - john.doe@example.com"/>
            </h3>
        </div>
        <div class="control-group">
            <a href="/" class="btn btn-primary">Add</a>
        </div>
    </div>
</template>