<template name="surveyEdit">
  <h2>{{surveyName}}</h2>
  <ul class="nav nav-tabs" id="survey-tabs">
    <li class="active"><a data-toggle="tab" href="#survey-main">Main</a></li>
    <li><a data-toggle="tab" href="#survey-participants">Participants</a></li>
    <li><a data-toggle="tab" href="#survey-invitation">Invitation</a></li>
    <li><a data-toggle="tab" href="#survey-survey">Survey</a></li>
  </ul>
  <div class="tab-content">
    {{> surveyMain survey}}
    {{> surveyParticipants survey}}
    {{> surveyInvitation survey}}
    {{> surveySurvey survey}}
  </div>

  <hr/>
  <button class="btn btn-primary btn-block" id="surv-save-btn" type="button">Save</button>
  <button class="btn btn-danger" id="surv-send-btn" type="button">Send!</button>
  <button class="btn" id="surv-test-btn" type="button">Test</button>
</template>

<template name="surveyMain">
  <div class="tab-pane active" id="survey-main">
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label class="col-sm-2 control-label" for="surv-name-input">Name</label>

        <div class="col-sm-10">
          <input class="form-control" id="surv-name-input" type="text" placeholder="memorable name, just for you"
                 value="{{name}}">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Created on</label>

        <div class="col-sm-10">
          <p class="form-control-static">{{created_at}}</p>
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label">Link to survey</label>

        <div class="col-sm-10">
          <p class="form-control-static"><a href="{{urlFill}}">{{urlFill}}</a></p>
        </div>
      </div>
    </form>
  </div>
</template>

<template name="surveyParticipants">
  <div class="tab-pane" id="survey-participants">
    <input id="surv-id" type="hidden" value={{_id}}/>
    {{> newRecipientForm this}}
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>email</th>
        <th>actions</th>
      </tr>
      </thead>
      <tbody>
      {{#each recipients}}
      <tr>
        <td>{{name}}</td>
        <td><a href="mailto:{{mail}}">{{mail}}</a></td>
        <td>
          <button class="btn btn-danger delete" data-mail="{{mail}}" type="button">Delete</button>
        </td>
      </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
</template>

<template name="surveyInvitation">
  <div class="tab-pane" id="survey-invitation">
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label class="col-sm-2 control-label" for="mail-subject-input">Subject</label>

        <div class="col-sm-10">
          <input class="form-control" id="mail-subject-input" type="text"
                 placeholder="catchy subject line goes here"
                 value="{{mail_subject}}">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label" for="mail-from-input">Sent from</label>

        <div class="col-sm-10">
          <input class="form-control" id="mail-from-input" type="email" placeholder="me@example.com"
                 value="{{mail_from}}">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label" for="mail-body-input">Text</label>

        <div class="col-sm-10">
          <textarea class="form-control" id="mail-body-input" rows="10"
                    placeholder="why should your recipients spend time to answer your survey?">{{mail_body}}</textarea>
        </div>
      </div>
    </form>
  </div>
</template>

<template name="surveySurvey">
  <div class="tab-pane" id="survey-survey">
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label class="col-sm-2 control-label" for="surv-title-input">Survey page title</label>

        <div class="col-sm-10">
          <input class="form-control" id="surv-title-input" type="text"
                 placeholder="catchy subject line goes here"
                 value="{{survey_title}}">
        </div>
      </div>

      <div class="form-group">
        <label class="col-sm-2 control-label" for="surv-body-input">Survey page</label>

        <div class="col-sm-10">
          <textarea class="form-control" id="surv-body-input" rows="20"
                    placeholder="use Markdown">{{survey_body}}</textarea>
        </div>
      </div>
    </form>
  </div>
</template>