<template name="surveysList">
    <div id="main" class="row-fluid">
        <form class="form-inline">
            <div>
                <h2>All your surveys</h2>
                <button class="btn btn-primary btn-sm" id="btn-new-survey">Create new survey</button>
            </div>
            <div class="list-group">
                {{#each surveys}}
                    {{> surveyItem}}
                {{/each}}
            </div>
        </form>
    </div>
</template>

<template name="surveyItem">
        <span class="input-group">
            <a href="{{pathFor 'surveyEdit'}}" class="list-group-item">
                {{name}}
                <span class="badge">{{count}}</span>
                <small>({{created_at}})</small>
            </a>
            <span class="input-group-btn">
                <button type="button" class="btn btn-danger delete" data-survey="{{_id}}">Delete</button>
            </span>
        </span>
</template>